*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}


.img-thumbnail{
	border: none;
}


.title{
	margin:1% 0;
}

.title p{
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	color: #7e7e7e;
}

.title .flx-btm{
	display: flex;
	align-items: flex-end;
}



.bg {
  background-image: url("../images/BG_1200x795.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 2%;
}

.banner .list-area h3{
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 3%;
}


.banner .list-area p{
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 10%;
}

.banner .list-area h6{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}


.banner .list-area ul{
margin: 0 0 0 10%;
    line-height: 3;	
}



.banner .list-area ul li{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}


ul {
  list-style-image: url('../images/dot.png');
}

.banner .form-title p{
    font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}

.form-title{
	background-color: #6565658f;
	border:solid 1px #c0bfbf;
	border-bottom: none;
	padding: 3%;
	text-align: center;
}

.form-container{
	background-color: #7d7a8194;
	border:solid 1px #c0bfbf;
	border-top: none;
	padding: 5% 0;
}

form{
width: 60%;
	margin: 0 auto;
}

form label{
    font-size: 13px;
	font-weight: normal;
	color: #fff;
}

.form-control{
	border: none;
	background: none;
	background-color: none;
	border:solid 1px #c0bfbf;
	border-radius: 0;
}


.btn-custom{
	border: none;
	background-color: #00000052;
	border-radius: 0;
	padding: 3% 0;
	width: 60%;
	transition: .3s;
	margin: 0 auto;
	letter-spacing: 1.5px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.btn-custom:hover{
	background-color: #0000006b;
	cursor: pointer;
}

.align-cnt{
	align-items: center;
}


.service{
	padding: 6% 0 0 0;
}


.service h3{
	border-bottom: solid 2px #f26e79;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 1%;
    font-size: 24px;
    color :#595959;
}


.service p{
	font-size: 21px; 
	font-weight:normal;
	color :#7f7f7f;
	margin-top: 2%;
}


.wrkflow{
	margin: 4% 0;
}

.srv-crd h5{
font-size: 15px; 
font-weight:bold;
color: #000000;
margin-bottom: 3%;
}


.srv-crd p{
font-size: 14px; 
font-weight:normal;
color :#454545;
line-height: 1.8;	
}

.srv-crd{
	margin: 3% 0;
}


.count{
	background-color: #f9f9f9;
	padding: 2% 0;
}

.count h6{
	color: #f3747b;
	font-size: 32px;
	margin-top: 5%;
}

.count p{
	color: #999999;
	font-size: 16px;
}


.why{
	padding: 7% 0;
}


.why h3 {
    border-bottom: solid 2px #f26e79;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 1%;
    font-size: 24px;
    color: #595959;
}


.why p {
    font-size: 18px;
    font-weight: normal;
    color: #7f7f7f;
    margin-top: 2%;
}


.client {
  background-image: url("../images/Testimonial_bg_500kb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 0;
}


.client h3 {
    border-bottom: solid 2px #f26e79;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: .5%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 3%;
}


.card{
	border: none;
	border-radius: 0;
    border-bottom: solid 10px #f26e79;
    background-color: #fff;
    padding: 20% 0 10% 0;
}


.custom-border:after{
	content: " ";
    position: absolute;
    border-left: 1px #000 solid;
    top: 0;
    right: 0;
    height: 17%;
    margin-top: auto;
    margin-bottom: auto;
}

/* .custom-border{
	max-width: 20%;
} */

.card-body img{
	margin: 10% 0;
}

.card-body p
{
font-size: 16px; 
font-weight:normal; 
color :#b6b6b6;
line-height:2;
}


.card-body h5{
	font-size: 18px;
	font-weight:bold;
	color:#848484
}


.brdr-yellow{
	border-bottom:solid 10px #f8a061;
}


.contact{
	padding: 2% 0;
}

.contact p{
	font-size: 12px;
	color:#848484;
	margin:0;
}


.footer{
	text-align: center;
	background-color: #f26e79;
	padding: 1% 0;
}

.footer h5{
font-size: 24px;
font-weight:bold; 
color: #fff;
margin: 0;

}


.footer p{
font-size: 18px;
text-transform: uppercase;
font-weight:normal; 
color: #fff;
margin: 0;
}

.mw-20{
	max-width: 20%;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.form-control:focus{
	background-color: transparent !important;
	border:solid 1px #c0bfbf !important;
	box-shadow:none;

}





@media only screen and (max-width: 600px) {
  .title p{
  	font-size: 12px;
  }
 
 .banner .list-area h3{
 	font-size: 22px;
 }

 .banner .list-area p,.service p,.srv-crd h5,.why p,.card-body p,.footer p{
 	font-size: 14px;
 }

.banner .list-area ul{
	line-height: 2.2;
	margin-bottom: 10%;
}

.banner .list-area ul li{
	font-size: 12px;
}

.form-title{
	padding: 6%;
}

.banner .form-title p,.card-body h5{
	font-size: 16px;
}

form{
	width: 80%;
}

.service h3,.why h3,.client h3,.footer h5{
	font-size: 17px;
}

.custom-border img{
margin-bottom: 5%;
}

.card{
	margin: 3% 0;
}

.contact{
	text-align: center;
}

.ft-logo{
	margin: 5% 0;
}

.soci{
	margin: 5% 0;
}

.footer{
	padding: 2% 0;
}

.title{
	text-align: center;
}

}

@media only screen and (max-width: 767px){ 
.custom-border img{
margin-bottom: 5%;
}

.custom-border:after{
	left: 0;
	height: 33%;
}

.mt-8{
	margin: 8% 0;
}

}


@media only screen and (max-width: 998px){
	.mw-20{
	max-width: 25%;
}
} 